<<<<<<< HEAD
.element__logo {
    padding-left: auto;
}

.element__logo:hover {
    opacity: 0.6;
    cursor: pointer;
=======
.element__logo {
    padding-left: auto;
}

.element__logo:hover {
    opacity: 0.6;
    cursor: pointer;
>>>>>>> d3c18c58176ce72b1116d92b3b2511c7067753ca
}