@import url(./__title/profile-info__title.css);
@import url(./__subtitle/progile-info__subtitle.css);
@import url(./__button/profile-info__button.css);

.profile-info {
    font-family: "Inter", Arial, sans-serif;
    color: #FFFFFF;
    padding: 18px 0px 25px 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .profile-info {
        padding: 14px 20px 36px;
    }
}