.element__button-delete {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 18px;
    right: 15px;
}

.element__button-delete:hover {
    cursor: pointer;
    opacity: 0.6;
}