<<<<<<< HEAD
@import url(./__title/element__title.css);
@import url(./__text/element__text.css);
@import url(./__image/element__image.css);
@import url(./__logo/element__logo.css);
@import url(./__button/element__button.css);

.element {
    font-family: "Inter", Arial, sans-serif;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    background: #FFFFFF;
=======
@import url(./__title/element__title.css);
@import url(./__text/element__text.css);
@import url(./__image/element__image.css);
@import url(./__logo/element__logo.css);
@import url(./__button/element__button.css);

.element {
    font-family: "Inter", Arial, sans-serif;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    background: #FFFFFF;
>>>>>>> d3c18c58176ce72b1116d92b3b2511c7067753ca
}