<<<<<<< HEAD
<<<<<<<< HEAD:blocks/popup/__text/popup__text.css
.popup__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 358px;
    width: 100%;
    margin: 0 auto 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgba(84, 84, 84, 0.2);
}
========
.popup__container-text {
=======
.popup__text {
>>>>>>> d3c18c58176ce72b1116d92b3b2511c7067753ca
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 358px;
    width: 100%;
    margin: 0 auto 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgba(84, 84, 84, 0.2);
}
<<<<<<< HEAD
>>>>>>>> d3c18c58176ce72b1116d92b3b2511c7067753ca:blocks/popup/__container-text/popup__container-text.css
=======
>>>>>>> d3c18c58176ce72b1116d92b3b2511c7067753ca
